.tweet {
    margin: 10px;
    display: none;
}
.tweet.active {
    display: block;
    border-left: 2px dashed white;
    padding: 10px;
}
#twitter.userlist li.active {
    color: black;
}
#twitter.userlist li {
    color: gray;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.hash.active {
    display: inline;
    margin: 0px 5px;
}
.hash {
    display: none;
}
body {
    background: black;
    color: white;
}
a {
    color: orange;
    text-decoration: none;
}