.tweet {
    margin: 10px;
    display: none;
}
.tweet.active {
    display: block;
}
#twitter.userlist li.active {
    color: black;
}
#twitter.userlist li {
    color: gray;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#hashContainer ul {
    display: none;
}
#hashContainer:hover ul {
    display: block;
}
#hashList {
    margin: 0px;
    background: rgba(255,255,255,0.9);
    position: absolute;
}
